<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="icon"  type="image/x-icon" href="../../favicon.png" class="logo"> 
</head>

<body>
  <header>
    <button id="return" (click)="navigateToParent()">Return</button>
    <img class="logo" src="assets/images/logo.png" alt="logo" aria-hidden="true" (click)="navigateToParent()">
  </header>

  <main>
    <div id="map" class="map"></div>

    <section class="restaurant-details">
      <h3>{{ restaurant?.name }}</h3>

      <div class="all">

        <div class="slideshow">

          <div class="slideshow-container">
            <div *ngFor="let photo of restaurant?.photos; let i = index" class="slideshow-image" [class.active]="i === slideIndex">
              <img [src]="photo" alt="Restaurant Photo">
            </div>
          </div>

          <div class="slideshow-controls">
            <button (click)="changeSlide(-1)" class="controls">Previous</button>
            <div class="controls-space">📍{{ restaurant?.vicinity }}</div>
            <button (click)="changeSlide(1)" class="controls">Next</button>
          </div>

        </div>

        <div class="info" style="font-size: 25px;">
          <p>⭐Rating: {{ restaurant?.rating }}</p>
          <p>💰Price Level: {{ restaurant?.price_level }}</p>
          <p>🕕Hours:</p>
          <ul>
            <li *ngFor="let hours of restaurant?.opening_hours?.weekday_text">
              {{ hours }}
            </li>
          </ul>
          <a [href]="restaurant?.website" target="_blank" style="color: #008080; font-size: x-large;">Reservation</a>
        <br>
        <br>
        <a [href]="'tel:' + sanitizePhoneNumber(restaurant?.formatted_phone_number)" target="_blank" style="color: #008080;font-size: x-large;">📱 {{ restaurant?.formatted_phone_number }}</a>


        </div>
        

      </div>

      <div class="reviews">
        <h1>Reviews</h1>
        <div *ngFor="let review of restaurant?.reviews">
          <h2 style="color: #008080;">{{ review.author_name }}</h2>
          <ng-container *ngFor="let _ of [].constructor(restaurant?.rating)">
            ⭐
          </ng-container>
          <p>{{ review.text }}</p>
        </div>
      </div>

    </section>
  </main>

  <footer>
  </footer>

</body>

</html>
