/* You can add global styles to this file, and also import other style files */

.logo
{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: block;
}

body {
    background-color: #EAE9EE;
}