<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
  <header>
   
  </header>
  <main>

    <div class="all">

    <img class="logo" src="assets/images/logo.png" alt="logo" aria-hidden="true">



    <div class="right">

    <label for="search-input"></label>
    <input id="search-input" type="text" placeholder="Search ...📍    ">

   
    <div class="restaurant-list">
      <div class="filters">
        <label for="ranked-by"></label>
        <select id="ranked-by" (change)="applyFilters()">
          <option value="google.maps.places.RankBy.PROMINENCE">Popular</option>
          <option value="google.maps.places.RankBy.DISTANCE">Distance</option>
        </select>
        
        <label for="min-price-filter">Min €</label>
        <select id="min-price-filter" (change)="applyFilters()">
          <option value="">All</option>
          <option value="0">€</option>
          <option value="1">€€</option>
          <option value="2">€€€</option>
          <option value="3">€€€€</option>
          <option value="4">€€€€€</option>
        </select>
        
        <label for="max-price-filter">Max €</label>
        <select id="max-price-filter" (change)="applyFilters()">
          <option value="">All</option>
          <option value="0">€</option>
          <option value="1">€€</option>
          <option value="2">€€€</option>
          <option value="3">€€€€</option>
          <option value="4">€€€€€</option>
        </select>

        <span class="type">
          <label for="type-filter">Type</label>
          <input id="type-filter" type="text"  (change)="applyFilters()">
        </span>
      </div>
    </div>


  </div>
         
  </div>


    <div class="map-container">
      <div id="map" class="map"></div>
      <div class="image-container">
        <img src="../../assets/images/image1.png" alt="where?">
      </div>
    </div>
    

    <section class="results">

      <app-restaurant *ngFor="let restaurant of restaurants_real" [restaurant]="restaurant"></app-restaurant>
      
     </section>  

  </main>

  <footer>
  </footer>
</body>
</html>

