.logo {
  display: block;
  margin: 0;
  width: 25%;
  max-width: 300px;
  height: auto;
}

.all {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.right {
  flex: 3;
}



.map-container {
  display: flex;
  flex-direction: row;
  height: 750px;
  width: 100%;
  position: relative;
  
}

.map {
  flex: 1.5;
  border: 11px solid #008080;
}

.image-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container img {
  max-width: 100%;
  max-height: 100%;
}


.restaurant-list {
  flex: 1;
  padding: 10px;
}

.restaurant-list .filters {
  margin-bottom: 10px;
}


.restaurant-list p {
  margin: 0;
}



#search-input {
  width: 98%;
  height: 40px;
  border-radius: 50px;
  border: 5px solid #008080;
  padding: 10px;
  font-size: 30px;
  margin-bottom: 10px;
  text-align: center;
  background-color: black;
  
  color:  #dddbcb;
}

input::placeholder {
  font-weight: bold;
  opacity: 0.7;
  color: #dddbcb;
  
}

.filters label {
  color: #dddbcb;
  font-weight: bold;
  margin-right: 10px;
  
}

.filters select {
  color: #008080;
  
  border: 3.5px solid #008080;
  padding: 5px;
  border-radius: 5px;
  margin-right: 10px;
  border-radius: 50px;
  background-color: #dddbcb;
}

.filters input[type="text"] {
  color: #008080;
  padding: 3.5px;
  border-radius: 5px;
  background-color: #dddbcb;
}


.type input[type="text"] {
  border: 3.5px solid #008080;
  border-radius: 5px;
  padding: 5px;
  margin-right: 10px;
  color: #008080;
  border-radius: 50px;
  background-color: #dddbcb;
}

.results {
  display: grid;
  column-gap: 14px;
  row-gap: 14px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 400px));
  margin-top: 50px;
  justify-content: space-around;
}

@media (min-width: 500px) and (max-width: 768px) {
  .results {
      grid-template-columns: repeat(2, 1fr);
  }
  input[type="text"] {
      width: 70%;
  }   
}

@media (max-width: 499px) {
  .results {
      grid-template-columns: 1fr;
  }    
}

